*,
*::after,
*::before{
  box-sizing: border-box;
}

.main{
  background-color:#121212;
  background: linear-gradient(135deg, #121212, #121212);
  text-align: center;
  margin-top: -120px;
}
.u-bare-link{
  text-decoration: none;
}
#home_under_h1{
  color: #F3F5F8;
  display: inline-block;
  width: 430px;
}
.project-card__img{

  border-radius: 15px;
  max-width: 100%;
  margin-bottom: 1rem;
  transition: transform 0.2s ease-in-out;
  width: 300px; 
  height: 175px;
}

.project-card__name {
  margin: 0;
  font-size: 1rem;
  line-height: 2.25rem;
  color: #F3F5F8;
}
.project-card:hover .project-card__img {
  transform: translateY(-0.5rem);
}
.project-card:hover .project-card__img {
  text-decoration: underline;

}

.project-card {
  padding: 0.75rem 0;
}

.projects {
  
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1.25rem;
  justify-content: center;
  justify-items: center;
  max-width: 21.875rem;
  margin: 0 auto;

}
.image-background{
  background-color: #1a1a1a;
  width: 20rem;
  border-radius: 4px;
}
.p-linux{
  color: #ebc33a;
  font-size: 2rem;
}
.p-home{
  color: #f3f5f8;
  text-align-last: left;
  margin: 2rem;
  /* background-color: #1a1a1a; */
}
@media (min-width: 48.75em) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    max-width: 45rem;
  }
}

@media (min-width: 70em) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
    max-width: 68rem;
  }
}

@media (min-width: 300px) {
  #home_h1 {
    color: #f3f5f8;
    padding-top: 85px;
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  #home_h1 {
    color: #F3F5F8;
    font-size: 32px;
  }
}

@media (min-width: 300px) {
  #home_img {
    max-width: 240px;
    max-height: 200px;
  }
}

@media (min-width: 992px) {
  #home_img {
    max-width: 484px;
    max-height: 400px;
  }
}

@media (min-width: 300px) {
  .logo {
    max-width: 168px;
    max-height: 36px;
  }
}

@media (min-width: 992px) {
  .logo {
    max-width: 336px;
    max-height: 72px;
  }
}

@media (min-width: 300px) {
  #home_p1, #home_p2 {
    padding-top: 85px;
    font-size: 10px;
    color: #f3f5f8;
  }
}

@media (min-width: 992px) {
  #home_p1, #home_p2 {
    color: #f3f8f5;
    padding-top: 85px;
    font-size: 20px;
  }
}

.shadow {
  box-shadow: none !important;
}

.btnNoBorders {
  margin-right: 15px;
}

.bi {
  margin-right: 15px;
}

.search_input {
  display: flex;
}

.table {
  border: #121212;
  background-color: #434343;
}

.table {
  overflow-y: auto;
}

.table-row {
  background-color: #121212;
  border-top: solid 2px #121212;
}

.table-header {
  background-color: #434343 !important;
  color: #f3f5f8 !important;
  border-bottom: solid 4px #121212;
  border-left: none;
}

.search-input {
  display: flex;
}

.table-heading {
  position: sticky;
  top: 0px;
}

.text-contnt {
  max-height: 126px;
  font-size: 24px;
  color: #f3f5f8;
  margin-bottom: 117px;
  padding-bottom: 0px;
}

.footer{
  text-align: center;
  padding-top: 10rem;
  color: #717171;
}

