{%extends 'base.html'%}
{%block content%}

<main class="bg-primary-gradient main">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="col">
                <h1 class="font-monospace" id="home_h1"><strong>Welcome to LinuxToolBox</strong>
                </h1>
                <p class="font-monospace" id="home_under_h1">
                    Explore powerful security tools for network scanning and vulnerability assessment.
                </p>
                <div>
                    <div class="p-home">
                        <p class="font-monospace text-center " style="color: #f3f5f8;">
                            <strong class="p-linux">LinuxToolBox </strong> is a cutting-edge
                            platform that empowers you to use powerful Linux tools without the need for a
                            Linux environment.
                        </p>
                    </div>
                </div>
                <div style="  margin-top: 10rem;">
                    <p class="font-monospace" id="home_under_h1">
                        Latest Tools Added
                    </p>
                    
                    <section class="projects">
                        {% for project in projects %}
                        <div class="image-background">
                            <a class="u-bare-link" href="{{ url_for('pages.project', slug=project['slug']) }}">
                                <article class="project-card">
                                    <img class="project-card__img"
                                        src="{{ url_for('static', filename=project['thumb']) }}" />
                                    <header class="project-card__meta">

                                        <h4 class="project-card__name font-monospace">{{ project['name'] }}
                                        </h4>
                                        <p style="color: #ebc33ac4; font-size: smaller;">{{project['hinted']}}</p>
                                    </header>
                                </article>
                            </a>
                        </div>
                        {%endfor%}
                    </section>
                </div>
                
            </div>
        </div>
        <div class=" row">
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</main>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<script src="static/js/bs-init.js"></script>

{%endblock%}