{%extends 'base.html'%}
{%block content%}

    <section class="py-4" style="background-color: #121212;">
        <div class="container py-4" style="padding-top: 52px;">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold mb-2" style="color: #EBC33A;">Login</p>
                    <h2 class="fw-bold" style="color: #f3f5f8;">Welcome back</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center" style="background-color: #f3f5f8;border-radius: 8px;"><a href="home.html"><img data-bss-hover-animate="pulse" src="static/img/clipboard-image-1.png" style="max-width: 212px;max-height: 215px;padding-bottom: 50px;margin-top: 40px;"></a>
                            <form method="post" data-bs-theme="light">

                                {{form.hidden_tag()}}
                                <div class="mb-3">
                                    {{ form.email( class="form-control bounce animated", placeholder="Example@linuxtoolbox.com", style="border-radius: 8px;margin-top: 10px;--bs-body-color: var(--bs-emphasis-color);color: var(--bs-body-color);")}}
                                </div>
                                <div class="mb-3">
                                    {{form.password(class="form-control bounce animated", placeholder="Password", style="border-radius: 8px;margin-bottom: 50px;")}}
                                </div>
                                <div class="mb-3">
                                    {% if form.password.errors %}
                                        <li style="color: rgb(209,84,93); font-size:70%; line-height: 0.9; margin-top: 5px; margin-bottom: -15px">{{ form.password.errors[0] }}</li><br>
                                    {%else%}
                                        {% with messages = get_flashed_messages(with_categories=true) %}
                                        {%- for category, message in messages %}
                                            <li class="form__flash--{{category}}"> {{ message }}</li><br>
                                        {% endfor %}
                                        {% endwith %}
                                    {%endif%}
                                    c
                                    <p style="margin-top: 50px;color: #121212;font-size: 15px;margin-bottom: 40px;">
                                        <strong>Need an account?
                                        </strong><br>
                                        <a data-bss-hover-animate="flash" href="signup.html">
                                            <span style="color: rgb(18, 18, 18);">Sign up here
                                            </span>
                                        </a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-primary-gradient"></footer>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>

{%endblock%}