<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Log in - LinuxToolBox</title>
    <meta name="description" content="Explore powerful security tools for network scanning and vulnerability assessment.">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="static/css/others.css">
    <link rel="stylesheet" href="static/css/profile.css">
    <link rel="stylesheet" href="static/css/scroll-bar.css">
    <link rel="stylesheet" href="static/css/table.css">
    <link rel="stylesheet" href="static/css/tools.css">
</head>

<body style="background-color: #121212;">
    <section class="py-4" style="background-color: #121212;">
        <div class="container py-4" style="padding-top: 52px;">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold mb-2" style="color: #EBC33A;">Login</p>
                    <h2 class="fw-bold" style="color: #f3f5f8;">Welcome back</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center" style="background-color: #f3f5f8;border-radius: 8px;"><a href="home.html"><img data-bss-hover-animate="pulse" src="static/img/clipboard-image-1.png" style="max-width: 212px;max-height: 215px;padding-bottom: 50px;margin-top: 40px;"></a>
                            <form method="post" data-bs-theme="light">
                                <div class="mb-3"><input class="form-control bounce animated" type="email" name="email" placeholder="Example@linuxtoolbox.com" style="border-radius: 8px;margin-top: 10px;--bs-body-color: var(--bs-emphasis-color);color: var(--bs-body-color);"></div>
                                <div class="mb-3"><input class="form-control bounce animated" type="password" name="password" placeholder="Password" style="border-radius: 8px;margin-bottom: 50px;"></div>
                                <div class="mb-3"><button class="btn btn-primary shadow d-block w-100 all_btn" data-bss-hover-animate="pulse" type="submit" style="background-color: #EBC33A;border-radius: 8px;border: none;color: #121212;">Log in</button>
                                    <p style="margin-top: 50px;color: #121212;font-size: 15px;margin-bottom: 40px;"><strong>Need an account?</strong><br><a data-bss-hover-animate="flash" href="signup.html"><span style="color: rgb(18, 18, 18);">Sign up here</span></a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-primary-gradient"></footer>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
</body>

</html>