{%extends 'base.html'%}
{%block content%}

{% if show_modal%}
<p>anas</p>
<!-- pop out-->
<div id="myModal" class="modal">
    <div class="modal-content" style="background-color: #121212;">
        <!-- Close button -->
        <span class="close" id="closeModalButton">&times;</span>

        <!-- Loading indicator -->
        <div class="loading" id="loadingIndicator">
            <div class="loading-indicator"></div>
            <p class="font-monospace" id="scan_p1">Starting Nmap Scan</p>
        </div>

        <!-- Content of the modal -->
        <iframe src="{{url_for('pages.ping',target_ip=target_ip)}}" frameborder="0" name="Frame" width="100%"
            height="1180px" style="background-color: #121212; " onload="hideLoading()"></iframe>
    </div>
</div>
{%endif%}
<section class="py-4" style="background-color: #121212;">
    <div class="container py-4">
        <div class="row">
            <div class="col">
                <h1 class="font-monospace" id="tool_h1"><strong>ICMP Ping</strong></h1>
                <p class="font-monospace" id="tool_p1">Check if a server is live and responds to ICMP Echo requests.
                    This tool can also be
                    used to find the IP address of a
                    hostname.</p>
                {%if not session.get("email")%}
                <p class="font-monospace" id="tool_p1" style="margin-bottom: -220px;margin-top: -125px;">
                    Sign up here to see your result history.
                </p>
                <a class="btn font-monospace text-center shadow d-block" role="button" data-bss-hover-animate="pulse"
                    id="tool_btn1" href="signup.html">Create account</a>
                {%endif%}
            </div>
            <div class="col">
                <section id="ping_card">
                    <section id="tool_section1">
                        <div class="mb-3"
                            style="width: 100%; height: 42px; border-radius: 4px; padding-bottom: 11px; margin-left: 0px; font-size: 12px;">


                            <form method="POST">
                                {{form.hidden_tag()}}
                                {{form.targetForm.label(class="form-label font-monospace", id="tool_target_label")}}
                                {{ form.targetForm( class="tool_inputs",
                                placeholder="IP or hostname",
                                type="text", id="tool_card_input1",)}}

                        </div>
                    </section>

                    <div id="tool_section3" style="display: flex;margin-top: 3%;padding-left: 7%;
                    padding-right: 7%;">
                        <div id="tool_checkbox_terms" class="custom-control custom-checkbox custom-control-inline"
                            style="display: flex; align-items: center;">

                            {{ form.checkbox(class="custom-control-input", style="width: 20px; height: 20px;",
                            id="customCheckInline1") }}
                            <label class="form-label custom-control-label" id="tool_terms_p" for="customCheckInline2">I
                                am authorized to scan this target and I
                                agree with the <span style="text-decoration: underline;">Terms of
                                    Service.</span></label>

                        </div>


                        {{ form.submit(class="btn btn-primary shadow home_signup",id="tool_card_btn",
                        **{'data-bss-hover-animate':"pulse"})
                        }}
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<section class="py-4" style="background-color: #121212;">
    <div class="container py-4">
        <div class="row mx-auto">
            <div class="col">
                <h1 class="font-monospace text-contnt "><strong>ICMP PING</strong></h1>
                <div class="row">
                    <div class="col">
                        <p class="font-monospace text2-contnt">
                            <a aria-current="page" href="#" class="font-monospace text2-contnt">ICMP Ping</a>
                            is a tool that shows if a target host is reachable over the internet via the ICMP protocol.
                        </p>
                        <hr>

                        <h3 id="how-it-works" class="font-monospace text2-contnt">
                            <a href="#how-it-works" style="color: antiquewhite;">How it works</a>
                        </h3>
                        <p class="font-monospace text2-contnt">Ping uses the <a
                                class="font-monospace text2-contnt"
                                href="https://en.wikipedia.org/wiki/Internet_Control_Message_Protocol"
                                rel="nofollow">Internet Control Message Protocol (ICMP)</a> to determine
                            if the target host is
                            reachable. The tool sends ICMP Echo Request packets to the destination host and waits for
                            ICMP Echo Replies.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<script src="static/js/bs-init.js"></script>
<script src="static/js/script.js"></script>

{%endblock%}